<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-select [(ngModel)]="selctUsr" (focus)="userSelect()" placeholder="Select User">
        <ion-select-option value="teachers">Teacher</ion-select-option>
        <ion-select-option value="parents">Parent</ion-select-option>
        <ion-select-option value="canteens">Canteen</ion-select-option>
        <ion-select-option value="students">Student</ion-select-option>
      </ion-select>
    </ion-item>

    <div id="forStu">
      <div id="forCardCntr">
        <ion-card class="forIonCard">
          <canvas width="100" height="100"></canvas>
        </ion-card>
      </div>
      <ion-item>
        <ion-input type="text" [(ngModel)]="name" placeholder="Enter Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" [(ngModel)]="id" placeholder="Enter Id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" [(ngModel)]="age" placeholder="Enter Age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="Selectgender" placeholder="Select Gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button expand="full" fill="clear">
          <input type="file" accept="image/png,image/jpeg" (change)="loadImageFromDevice($event)" />
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="fatherName" placeholder="Enter Father Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="class" placeholder="Enter Class"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="section" placeholder="Enter Section"></ion-input>
      </ion-item>
      <ion-button expand="full" shape="round" (click)="submitStudent()">Submit</ion-button>
    </div>

    <div id="forAll">
      <ion-item>
        <ion-input type="text" [(ngModel)]="name" placeholder="Enter Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" [(ngModel)]="id" placeholder="Enter Id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="Selectgender" placeholder="Select Gender">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="email" placeholder="Enter Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="phone" placeholder="Enter Phone No."></ion-input>
      </ion-item>
      <ion-item>
        <ion-input id="pass" [(ngModel)]="pass" [type]="ShowPassword ? 'text' : 'password'" placeholder="Enter Password"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon" (click)="passwordToggle()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input id="cpass" type="password" [(ngModel)]="cpass" (keyup)="checkCnfrmPass(pass)" placeholder="Enter Confirm Password"></ion-input>
      </ion-item>
      <ion-button shape="round" expand="full" (click)="submit()">Submit</ion-button>
    </div>
  </ion-card>

</ion-content>