<ion-header>
  <ion-toolbar>
    <ion-title>Teacher</ion-title>
      <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="nameHeading">Name:</ion-label>
    <ion-label>{{datas.username}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Id:</ion-label>
    <ion-label>{{datas.id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Gender:</ion-label>
    <ion-label>{{datas.gender}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Email:</ion-label>
    <ion-label>{{datas.email}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Phone:</ion-label>
    <ion-label>{{datas.phone}}</ion-label>
  </ion-item>
</ion-content>