ion-button{
    margin: 20px;
}

.forShow{
    border: 1px solid black;
}

ion-card{
    margin-top: 20px;
    height: 220px;
    ion-textarea{
        height: 100px;
        border: 1px solid black;
    }
}