<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Annoucement</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Annoucement</ion-label>
    <ion-checkbox [(ngModel)]="showAnno"></ion-checkbox>
    <ion-label>Schedule</ion-label>
    <ion-checkbox [(ngModel)]="showSche"></ion-checkbox>
  </ion-item>

  <div *ngIf="showAnno" class="forShow">
    <ion-label><b>Announcement:</b></ion-label>
    <p>{{annouceA.annoucement}}</p>
  </div>
  <div *ngIf="showSche" class="forShow">
    <ion-label><b>Schedule:</b></ion-label>
    <p>{{annouceS.annoucement}}</p>
  </div>
  <ion-card>
    <ion-item>
      <ion-label>Class</ion-label>
      <ion-select [(ngModel)]="sc" placeholder="Select Class">
        <ion-select-option *ngFor="let i of classe" value="{{i.id}}">{{i.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Dairy:</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" [(ngModel)]="annoucement"></ion-textarea>
    </ion-item>
  </ion-card>
  <ion-button expand="full" shape="round" (click)="goToAnnoucement()">Send</ion-button>
</ion-content>