.forShow{
    margin: 5px;
    border: 1px solid black;
    background: whitesmoke;
}

ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
    margin-top: 20px;
}

ion-textarea{
    background-color: white;
}

ion-item{
    ion-select{
        color: white;
    }
    ion-label{
        color: white;
    }
}

ion-button{
    margin: 20px;
}

ion-label{
    margin: 15px;
}

ion-content{
    --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

ion-checkbox{
    margin: 7px;
}

p{
    margin: 5px;
}