<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Items</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-button slot="end" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let items of itemData" [ngClass]="{'zeoitem': items.quantity==0}">
    <ion-label>{{items.product_name}}</ion-label>
    <ion-label style="text-align: right;">{{items.product_price}}/-</ion-label>
  </ion-item>
</ion-content>