.my-custom-class {
  --background: #222;
}

ion-content{
  --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

ion-item{
  --ion-background-color: transparent;
}

.zeoitem{
  color: grey;
}

.normal{
  color:white;
}