<ion-header>
  <ion-toolbar>
    <ion-title>Add Items</ion-title>
    <ion-button fill="clear" slot="start" (click)="click()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Product Id:</ion-label>
      <ion-input type="number" [(ngModel)]="id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Name:</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Price:</ion-label>
      <ion-input type="number" [(ngModel)]="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Product Quantity:</ion-label>
      <ion-input type="number" [(ngModel)]="quantity"></ion-input>
    </ion-item>
    <div class="cntrBtn">
      <ion-button class="btn" (click)="Add()">Add</ion-button>
      <ion-button class="btn" (click)="Update()">Update</ion-button>
      <ion-button class="btn" (click)="Delete()">Delete</ion-button>
    </div>
  </ion-card>
</ion-content>