<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Items</ion-title>
    <ion-button slot="start" (click)="click()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-input type="number" [(ngModel)]="id" placeholder="Enter Product Id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="name" placeholder="Enter Product Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="price" placeholder="Enter Product Price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="quantity" placeholder="Enter Product Quantity"></ion-input>
    </ion-item>
  </ion-card>
  <div class="cntrBtn">
    <ion-button shape="round" class="btn" (click)="Add()">Add</ion-button>
    <ion-button shape="round" class="btn" (click)="Update()">Update</ion-button>
    <ion-button shape="round" class="btn" (click)="Delete()">Delete</ion-button>
  </div>
</ion-content>