.btn{
  width: 30%;
  margin: 6px;
}

.cntrBtn{
  display: flex;
  align-items: center;
}

ion-content{
  --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

ion-card{
  margin-top: 35px;
  --ion-background-color: transparent;
  box-shadow: none !important;
}

span{
  color: red;
  font-size: x-small;
}

ion-item{
  margin-bottom: 7px;
  ion-input{
      color: white;
  }
}