<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="mail"></ion-icon> 
        <ion-input type="number" [(ngModel)]="id" placeholder="Enter Id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-input [(ngModel)]="pass" [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password"></ion-input>
        <ion-icon slot="end" [name]="passwordTogleIcon" (click)="passwordTogle()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="people"></ion-icon>
        <ion-select [(ngModel)]="slctCate" placeholder="Select User">
          <ion-select-option value="admins">Admin</ion-select-option>
          <ion-select-option value="teachers">Teacher</ion-select-option>
          <ion-select-option value="parents">Parent</ion-select-option>
          <ion-select-option value="canteens">Canteen</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" shape="round" (click)="login()">Login</ion-button>
  </ion-card>
</ion-content>