ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-content{
    --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    align-items: center;
}

.imgDiv{
    margin-top: 30px;
    display: flex;
}

.wrapGap{
    margin-top: 30px;
}

ion-item{
    ion-input{
        color: white;
    }
    ion-icon{
        color: white;
    }
}

.studentBtn{
    text-align: right;
    ion-button{
        font-size: 12px;
        color: white;
    }
}

.forAllBtn{
    margin: 15px;
}

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-card-title{
    text-align: center;
}