ion-card{
    --background: #f4f5f8;
    margin-top: 50%;
    margin-bottom: 50%;
    ion-item{
        --background: #f4f5f8;
    }
}

ion-input{
    margin: 10px;
    padding: 5px;
}

ion-button{
    margin: 15px;
}

.stuLogin{
    margin: 10px;
}

// .stuLogin a{
//     text-decoration: none;
// }