<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Id:</ion-label>
        <ion-input type="number" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password:</ion-label>
        <ion-input [(ngModel)]="pass" [type]="showPassword ? 'text' : 'password'"></ion-input>
        <ion-icon slot="end" [name]="passwordTogleIcon" (click)="passwordTogle()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">User:</ion-label>
        <ion-select [(ngModel)]="slctCate">
          <ion-select-option value="admins">Admin</ion-select-option>
          <ion-select-option value="teachers">Teacher</ion-select-option>
          <ion-select-option value="parents">Parent</ion-select-option>
          <ion-select-option value="canteens">Canteen</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="login()">Login</ion-button>
  </ion-card>
</ion-content>