<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Parent</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let i of datas">
  <ion-item>
    <ion-label><b>Name:</b> {{i.name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><b>Id:</b> {{i.id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><b>Gender:</b> {{i.gender}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><b>Email:</b> {{i.email}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><b>Phone:</b> {{i.phone}}</ion-label>
  </ion-item>
</ion-content>