.forCenter{
    text-align: center;
    border-bottom: 1px solid ghostwhite;
}

.forCenter2{
    text-align: center;
}

.forGap{
    margin-top: 10px;
}

ion-button{
    width: 50%;
    margin: 10px;
}

ion-content{
    --background: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

.fixclor{
    --background: white;
}

ion-item{
    --background: #f4f5f8;
}

.forCenter .foranimate{
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}