.forCenter{
    text-align: center;
    border-bottom: 1px solid ghostwhite;
}

.forCenter2{
    text-align: center;
}

.forGap{
    margin-top: 10px;
}

ion-button{
    width: 50%;
    margin: 10px;
}