<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{classiName}}</ion-title>
    <ion-button slot="start" (click)="click()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let classss of classNmae.param">
      <ion-label>
        <ion-row>
          <ion-col>{{classss.name}}</ion-col>
          <ion-col>{{classss.attendance}} Presents</ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
</ion-content>
