ion-content{
    --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

.samePlace{
    display: flex;
    align-items: center;
}

ion-button{
    width: 45%;
    margin: 15px;
}

ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
}

ion-item{
    --ion-background-color:transparent;
    ion-select{
        color: white;
    }
    ion-label{
        color: white;
    }
}