ion-button{
    width: 50%;
    margin: 10px;
}

.textArea{
    border: 1px solid black;
}

.forCenter{
    text-align: center;
    border-bottom: 1px solid ghostwhite;
}

.forCenter2btn{
    text-align: center;
}

.forGap{
    margin-top: 10px;
}

#forCntrtwoBtn{
    display: flex;
    align-items: center;
}

.twoBtnCntrWidth{
    width: 50%;
}

ion-content{
    --background: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

ion-card{
    --background: #f4f5f8;
    ion-item{
        --background: #f4f5f8;
    }
}

.forCenter .foranimate{
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}