ion-button{
    width: 50%;
    margin: 10px;
}

.textArea{
    border: 1px solid black;
}

.forCenter{
    text-align: center;
    border-bottom: 1px solid ghostwhite;
}

.forCenter2{
    text-align: center;
}

.forGap{
    margin-top: 10px;
}

#forCntr{
    display: flex;
    align-items: center;
}

.twoBtnCntr{
    width: 50%;
}