<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Class</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="elementType" (ionChange)="segmentsChanges(elementType)">
    <ion-segment-button value="home">
      <ion-label>Homework</ion-label>
    </ion-segment-button>
    <ion-segment-button value="quiz">
      <ion-label>Quiz</ion-label>
    </ion-segment-button>
    <ion-segment-button value="result">
      <ion-label>Result</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="elementType=='home'">
    <div class="forCenter">
      <h4 class="forGap">Online Class</h4>
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select [(ngModel)]="selectCO" (ionChange)=" AccordingtoClassSubjectForHomeO()" placeholder="Select Class">
          <ion-select-option *ngFor="let i of classesForHome;" value="{{i.id}}">{{i.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button shape="round" (click)="openUrl()">
        <ion-icon slot="start" name="link-outline"></ion-icon>Take Class
      </ion-button>
    </div>
    <div class="forCenter">
      <h4 class="forGap">Upload</h4>
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select [(ngModel)]="selectCU" (ionChange)=" AccordingtoClassSubjectForHomeU()" placeholder="Select Class">
          <ion-select-option *ngFor="let i of classesForHome;" value="{{i.id}}">{{i.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectO">
        <ion-label>Subject</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectOE;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectN">
        <ion-label>Subject</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectN;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectT">
        <ion-label>Subject</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectT;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" fill="clear" style="width: 100%;">
        <input type="file" id="file-input" (change)="fileUploads($event)">
      </ion-button>
      <ion-button shape="round" (click)="uploadHome()">Upload</ion-button>
    </div>
    <div class="forCenter">
      <h4 class="forGap">Download</h4>
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select [(ngModel)]="selectCD" (ionChange)="AccordingtoClassSubjectForHomeD()" placeholder="Select Class">
          <ion-select-option *ngFor="let i of classesForHome;" value="{{i.id}}">{{i.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectO">
        <ion-label>Subject</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectOE;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectN">
        <ion-label>Subject</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectN;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectT">
        <ion-label>Subject</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectT;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="selectCD">
        <ion-label>Student</ion-label>
        <ion-select [(ngModel)]="StudentSelect" placeholder="Select Student">
          <ion-select-option *ngFor="let i of StudentList" value="{{i.id}}">{{i.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button shape="round" (click)="DownloadHome()">Download</ion-button>
    </div>
  </div>

  <div *ngIf="elementType=='quiz'">
    <ion-card>
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select [(ngModel)]="selectC" (ionChange)=" AccordingtoClassSubjectForQuiz()" placeholder="Select Class">
          <ion-select-option *ngFor="let i of classesForQuiz;" value="{{i.id}}">{{i.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectO">
        <ion-label>Student</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectOE;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectN">
        <ion-label>Student</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectN;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="showSubjectT">
        <ion-label>Student</ion-label>
        <ion-select [(ngModel)]="selectS" placeholder="Select Subject">
          <ion-select-option *ngFor="let i of subjectT;" value="{{i}}">{{i}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input type="number" placeholder="Question No" [(ngModel)]="qno"></ion-input>
      <ion-textarea class="textArea" placeholder="Write Question" [(ngModel)]="ques"></ion-textarea>
      <ion-input type="text" placeholder="Option 1" [(ngModel)]="op1"></ion-input>
      <ion-input type="text" placeholder="Option 2" [(ngModel)]="op2"></ion-input>
      <ion-input type="text" placeholder="Correct Answer" [(ngModel)]="ans"></ion-input>
    </ion-card>
    <div id="forCntr">
      <ion-button class="twoBtnCntr" shape="round" (click)="submitQuiz()">Submit</ion-button>
      <ion-button class="twoBtnCntr" shape="round" (click)="DeleteQuiz()">Reset</ion-button>
    </div>
  </div>

  <div *ngIf="elementType=='result'">
    <ion-card>
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select [(ngModel)]="selectC" (ionChange)=" AccordingtoClassSubjectForResult()" placeholder="Select Class">
          <ion-select-option *ngFor="let i of classesForResult;" value="{{i.id}}">{{i.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Student</ion-label>
        <ion-select [(ngModel)]="sSudent" placeholder="Select Student">
          <ion-select-option *ngFor="let i of dataa" value="{{i.id}}">{{i.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input type="number" *ngIf="showSubjectONT" [(ngModel)]="Eng" placeholder="Enter English marks"></ion-input>
      <ion-input type="number" *ngIf="showSubjectONT" [(ngModel)]="Urdu" placeholder="Enter Urdu marks"></ion-input>
      <ion-input type="number" *ngIf="showSubjectON" [(ngModel)]="Math" placeholder="Enter Math marks"></ion-input>
      <ion-input type="number" *ngIf="showSubjectO" [(ngModel)]="Sci" placeholder="Enter Science marks"></ion-input>
      <ion-input type="number" *ngIf="showSubjectO" [(ngModel)]="Sst" placeholder="Enter Social Studies marks">
      </ion-input>
      <ion-input type="number" *ngIf="showSubjectO" [(ngModel)]="Draw" placeholder="Enter Drawing marks"></ion-input>
      <ion-input type="number" *ngIf="showSubjectOT" [(ngModel)]="Isl" placeholder="Enter Islamiat marks"></ion-input>
      <ion-input type="number" *ngIf="showSubjectO" [(ngModel)]="Sindhi" placeholder="Enter Sindhi marks"></ion-input>
      <ion-input type="number" *ngIf="showSubjectN" [(ngModel)]="Pst" placeholder="Enter Pakistan Studies marks">
      </ion-input>
      <ion-input type="number" *ngIf="showSubjectT" [(ngModel)]="Phy" placeholder="Enter Physics marks"></ion-input>
      <ion-input type="number" *ngIf="showSubjectNT" [(ngModel)]="Che" placeholder="Enter Chemistry marks"></ion-input>
    </ion-card>
    <div class="forCenter2">
      <ion-button shape="round" (click)="submitResult()">Create</ion-button>
    </div>
  </div>
</ion-content>