ion-button{
    margin: 15px;
}

ion-content{
    --background: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

span{
    color: red;
    font-size: x-small;
}

ion-card{
    --background: #f4f5f8;
    ion-item{
        --background: #f4f5f8;
    }
}