<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Voucher 
    </ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-select [(ngModel)]="sClass" (ionChange)="onChange()" placeholder="Select Class">
        <ion-select-option *ngFor="let i of clase" value="{{i.clas}}">{{i.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="sSudent" (ionChange)="inChange()" placeholder="Select Student">
        <ion-select-option *ngFor="let i of dataa" value="{{i.id}}">{{i.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="tution" placeholder="Enter Tution Fee"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="fine" placeholder="Enter Fine"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="registration" placeholder="Enter Registration Fee"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="security" placeholder="Enter Security Fee"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button expand="full" shape="round" (click)="createpdf()">Create Voucher</ion-button>
</ion-content>