.ForWallet{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.forGap{
    margin: 15px;
}

ion-button{
    margin: 10px;
}

ion-content{
    --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

ion-card{
    margin: 15px;
    margin-top: 35px;
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-item{
    ion-input{
        color: white;
    }
}