.cardCntr{
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card{
    --ion-background-color: white;
    width: 258px; 
    height: 490px;
    margin: 10px;
    text-align: center;
}

.forLabel{
    font-weight: bold;
    color: black;
}

.forLabelLight{
    color: black;
}

ion-list{
    margin-top: 5px;
}

ion-label{
    text-align: left;
}

ion-avatar{
    vertical-align: middle;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
}

ion-button{
    margin: 10px;
}

.imgCentr{
    margin: 0 auto;
}

ion-card-title{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}

ion-content{
    --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

ion-item{
    --ion-background-color:transparent;
    ion-select{
        color: white;
    }
    ion-label{
        color: white;
    }
}