<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Card Generate</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-button slot="end" (click)="showCard()">Create</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content no-bouncing>
  <ion-item>
    <ion-label>Student</ion-label>
    <ion-select [(ngModel)]="selectStu" (ionChange)="onChangee()" placeholder="Select Student">
      <ion-select-option *ngFor="let i of StuDataAll" value="{{i.id}}">{{i.username}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="cardCntr">
    <ion-card id="card" *ngIf="selectStu" class="ioncard">
      <ion-card-content>
        <img src="assets/fe.png" alt="" width="25px" height="25px"/>
        <ion-card-title>Smart Schooling Sysytem</ion-card-title>
        <ion-avatar class="imgCentr">
          <img [src]="StuDataAllByid.studentsPic" alt=""/>
        </ion-avatar>
        <ion-label class="forLabel">{{StuDataAllByid.username}}</ion-label><br />
        <ion-label class="forLabel">({{StuDataAllByid.id}})</ion-label>
        <ion-list>
          <ion-row>
            <ion-col><ion-label class="forLabel">Father:</ion-label></ion-col>
            <ion-col><ion-label class="forLabelLight">{{StuDataAllByid.parentNAME}}</ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-label class="forLabel">Gender:</ion-label></ion-col>
            <ion-col><ion-label class="forLabelLight">{{StuDataAllByid.gender}}</ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-label class="forLabel">Age:</ion-label></ion-col>
            <ion-col><ion-label class="forLabelLight">{{StuDataAllByid.age}}</ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-label class="forLabel">Class:</ion-label></ion-col>
            <ion-col><ion-label class="forLabelLight">{{StuDataAllByid.class}}</ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-label class="forLabel">Section:</ion-label></ion-col>
            <ion-col><ion-label class="forLabelLight">{{StuDataAllByid.section}}</ion-label></ion-col>
          </ion-row>
        </ion-list>
        <ngx-qrcode [value]="StuDataAllByid.qrString"></ngx-qrcode>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button expand="full" shape="round" (click)="downloadCard()">Download</ion-button>
</ion-content>