.labelSetting{
    text-align: center;
    margin: 15px;
    font-size: 20px;
    border-bottom: 0.5px solid grey;
}

ion-button{
    margin: 15px;
}

ion-content{
    --background: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

.babDiv{
    background: whitesmoke;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}