<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Select Items</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Child</ion-label>
    <ion-select [(ngModel)]="sSudent" (ionChange)="calDataByStuAmount()" placeholder="Select Child">
      <ion-select-option *ngFor="let j of datasF" value="{{j.id}}">{{j.username}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Items</ion-label>
    <ion-select multiple="true" [(ngModel)]="itemSelection" (ionChange)="onChange(itemSelection)"
      placeholder="Select Items">
      <ion-select-option *ngFor="let i of Itemsdatas" [disabled]="i.quantity==0" [value]="i.product_id">
        {{i.product_name}} ({{i.product_price}}/-)</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="babDiv" *ngIf="babDivshow">
    <div class="labelSetting">
      <ion-label>Total Price: {{totalPrice}}</ion-label>
    </div>
    <div *ngFor="let j of nameArr">
      <ion-label>{{j}}</ion-label>
    </div>
  </div>
  <ion-button expand="full" shape="round" (click)="select()">Select</ion-button>
</ion-content>