<ion-header>
  <ion-toolbar>
    <ion-title>Student</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="nameHeading">Name:</ion-label>
    <ion-label>{{getDataStudent.username}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Id:</ion-label>
    <ion-label>{{getDataStudent.id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Gender:</ion-label>
    <ion-label>{{getDataStudent.gender}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Age:</ion-label>
    <ion-label>{{getDataStudent.age}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Father Name:</ion-label>
    <ion-label>{{getDataStudent.fathername}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Class:</ion-label>
    <ion-label>{{getDataStudent.class}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="nameHeading">Section:</ion-label>
    <ion-label>{{getDataStudent.section}}</ion-label>
  </ion-item>
</ion-content>
