ion-content{
    --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

.forCardgap{
    margin-top: 35px;
}

ion-item{
    ion-input{
        color: white;
    }
    ion-icon{
        color: white;
    }
    ion-select{
        color: white;
    }
    ion-label{
        color: white;
    }
}

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-button{
    margin: 25px;
}