.ForWallet{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 20px;
}

ion-content{
    --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}
