.forGi{
    margin-top: 5px;
    margin-left: 5px;
}

.forGa{
    margin-top: 2px;
    margin: 5px;
    background: white;
    border: 0.5px solid black;
    p{
        margin: 5px;
    }
}

ion-content{
    --ion-background-color: linear-gradient(rgba(202, 199, 199, 0.671),rgba(0, 0, 0, 0.897));
}

ion-item{
    --ion-background-color:transparent;
    ion-label{
        color: white;
    }
    ion-select{
        color: white;
    }
}