<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dairy</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Child</ion-label>
    <ion-select [(ngModel)]="sSudent" (ionChange)="converrr()" placeholder="Select Child">
      <ion-select-option *ngFor="let j of datasF" value="{{j.id}}">{{j.username}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div *ngIf="divi">
    <div class="forGi">
      <p><b>Dairy:</b></p>
    </div>
    <div *ngIf="sSudent" class="forGa">
      <p *ngFor="let a of annouce">{{a.annoucement}}</p>
    </div>
  </div>
</ion-content>