ion-button{
    padding: 5px;
    margin: 5px;
}

ion-textarea{
    margin: 3px;
    border: 1px solid lightgray;
    height: 150px;
}

ion-label{
    font-weight: bold;
    font-size: 15px;
    margin: 15px;
}