<ion-header>
  <ion-toolbar>
    <ion-title>voucher</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label stacked>Student:</ion-label>
    <ion-select [(ngModel)]="sSudent" (ionChange)="converrr()">
      <ion-select-option *ngFor="let j of datasF" value="{{j.id}}">{{j.username}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="download()">Download Voucher</ion-button>
</ion-content>