<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Voucher</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-select [(ngModel)]="sSudent" (ionChange)="converrr()" placeholder="Select Student">
      <ion-select-option *ngFor="let j of datasF" value="{{j.id}}">{{j.username}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" shape="round" (click)="download()">Download Voucher</ion-button>
</ion-content>